.categories {
  display: flex;
  // align-items: center;
  justify-content: space-around;
  margin-bottom: 64px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 112px;
  height: 112px;
  text-align: center;

  img {
    width: 72px;
    height: 72px;
    object-fit: cover;
  }

  span {
    color: $grey125
  }
}
