.flick-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 64px;
  width: 100%;
}

.flick {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 320px;
  width: 320px;
  margin: 0 !important;
}

@media (max-width: $XL) {
  .flick {
    height: 260px;
    width: 260px;
  }
}

@media (max-width: $LG) {
  .flick-container {
    grid-gap: 24px 24px;
    padding: 24px;
    padding-bottom: 0;
  }
  .flick {
    height: 280px;
    width: 280px;
  }

  .flick:nth-child(9) {
    display: none;
  }
}

@media (max-width: $MD) {
  .flick-container {
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;
  }
  .flick {
    width: 100%;
  }
  .my-container {
    width: 100%;
  }
}

@media (max-width: $SM) {
  .flick-container {
    grid-gap: 1px;
  }
  .flick {
    width: 100%;
  }
}


