#header {
  overflow: hidden;
  height: 184px;
  position: sticky;
  top: 0;
  z-index: 10;
}

#header-logo {
  position: relative;
  top: -8px;
}

.active-link {
  // background-color: rgb(141, 167, 221);
  background-color: #575ff7;
  padding: 4px 12px;
  border-radius: 4px;
  color: white;
  &:hover {
    color: white;
  }
}

#dark-mode-icon {
  display: flex;
  align-items: center;
  background: 0;
  border-radius: 50%;
  border: 0;
  > i {
    font-size: 24px;
  }
  &:focus {outline:0;}
}
