#header {
  overflow: hidden;
  height: 184px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width:100%;
  transition: 1s opacity;
  &:hover {
    opacity: 1 !important;
    z-index: 10000000000000 !important;
  }
}

.invisible-hover-box {
  height: 184px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.invisible-hover-box:hover ~ #header {
  opacity: 1 !important;
}

.sticky-links {
  position: fixed;
  top: 0;
  width: 50%;;
}

.header-background {
  position: absolute;
  width: 100vw;
  height: 104px;
  opacity: 0;
  z-index: -1;
}

#header-logo {
  position: relative;
  top: -8px;
}

.navlink {
  padding: 4px 12px;
  border-radius: 2px;
  transition: 0.2s;
  transition-property: background-color, color, box-shadow;
  &:hover {
    cursor: pointer;
  }
}

#dark-mode-icon-desktop, #dark-mode-icon-mobile {
  display: flex;
  align-items: center;
  background: 0;
  border-radius: 50%;
  border: 0;
  > i {
    font-size: 24px;
  }
  &:focus {outline:0;}
}

@media (min-width: $MD) {
  .header-content {
    height: 100%;
  }
}

@media (max-width: $MD) {
  #dark-mode-icon-desktop, #dark-mode-icon-mobile {
    transform-origin: 11px 11px !important;
    > i {
      font-size: 22px;
    }
  }

  #nav-links {
    transition: none;
    justify-content: center;
    font-size: 15px;
  }
  .sticky-links {
    // position: fixed;
  }
  .logo {
  }

  .navlink {
    padding: 4px 8px;
  }

  .header-content {
    height: 100%;
    // border: 1px solid red;
  }
  .header-content-container {
    height: 148px;
    // border: 1px solid blue;
    // position: relative;
    // top: -16px;
  }
  .header-background {
    height: 104px;
  }
}

@media (max-width: $SM) {
  .header-content {
    margin-top: 32px;
  }
  #header {
    position: absolute;
  }
  #nav-links {
    justify-content: space-between !important;
    font-size: 15px;
  }
  #header-logo {
    margin-left: 6px;
  }
  #dark-mode-icon-desktop, #dark-mode-icon-mobile {
    margin-right: 8px;
    padding-left: 0;
  }
  .header-content-container {
    width: 100vw;
  }

  #header-mobile {
    opacity: 0;
    position: fixed;
    z-index: 10000;
    left: 0;
    width: 100vw;
    .logo {
      position: relative;
      left: 14px;
    }
    #header-logo {
      height: 72px;
      margin-top: 8px;
      margin-bottom: 4px;
    }
    .header-content {
      margin: 0;
    }
    .header-link-container {
      height: 60px;
    }
  }
}

@media (max-width: $XS) {
  #nav-links {
    justify-content: space-between !important;
    font-size: 14px;
  }
  #header-logo {
    margin-left: 6px;
  }
  #dark-mode-icon-desktop, #dark-mode-icon-mobile {
  transform-origin: 10px 10px !important;
    i {
      font-size: 20px;
    }
  }

}












