.logo {
  font-size: 40px;
  line-height: 108px;
  position: relative;
}

.logo-description {
  font-size: 13px;
  position: absolute;
  top: 32px;
  left: 2px;
  font-family: 'Avenir'
}

.nicolas {
  font-family: 'Avenir', 'sans-serif';
  font-weight: 600;
}

.fraisse {
  font-family: 'Avenir', 'sans-serif';
  font-weight: 300;
  letter-spacing: 0.5px;
  padding-left: 1.5px;
}

.logo-full {
  transition: 0.5s;
  opacity: 1;
}

#logo-img {
  display: none;
}


@media (max-width: $MD) {
  .logo {
    font-size: 36px;
    line-height: 80px;
    position: relative;
  }

  .logo-description {
    font-size: 13px;
    position: absolute;
    top: 30px;
    left: 2px;
    font-family: 'Avenir'
  }
}

@media (max-width: $XS) {
  .logo {
    font-size: 32px;
    line-height: 90px;
    position: relative;
  }

  .logo-description {
    font-size: 12px;
    position: absolute;
    top: 28px;
    left: 2px;
    font-family: 'Avenir'
  }
}
