.toolkit {
  max-width: 480px;
  margin: 0 auto;
  cursor: pointer;
  .main-tools > p {
    font-size: 20px;
  }
}

.toolkit-icon {
  font-size: 56px;
}



@media (max-width: $MD) {
  .main-tools > p {
    font-size: 18px !important;
  }
  .misc-tools > p {
    font-size: 14px !important;
  }
}
