.code-wrapper {
  background-color: rgba(252, 250, 249, 1.00);
  position: relative;
  .code {
    max-width: 960px;
    margin: 0 auto;
  }
}

.arrow {
  font-size: 32px;
  color: $grey125;
  cursor: pointer;
}

.btn-more {
  border: 1px solid rgb(190, 190, 190);
  margin: 72px auto;
  display: block;
  background: none;
  color: rgb(150, 150, 150) !important;
  padding: 10px;
  border-radius: 50px;
  width: 180px;
  transition: 0.15s;
  text-align: center;
}

.btn-more i {
  color: rgb(150, 150, 150);
  margin-left: 10px;
}
.btn-more:focus {
  outline: none;
}

.btn-more:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  background: white;
  transform: translateY(-1px);

}

.btn-more:active {
  transform: translateY(1px);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}


