.code-wrapper {
  position: relative;
  padding-bottom: 4px;
  .code {
    max-width: 960px;
    margin: 0 auto;
  }
}

.toolkit-icon {
  font-size: 48px;
}

.btn-more {
  margin: 64px auto;
  display: block;
  background: none;
  padding: 10px;
  border-radius: 50px;
  width: 180px;
  transition: 0.15s;
  text-align: center;
}

.btn-more i {
  margin-left: 10px;
}
.btn-more:focus {
  outline: none;
}

.btn-more:hover {
  transform: translateY(-1px);
}

.btn-more:active {
  transform: translateY(1px);
}

@media (max-width: $SM) {
  .btn-more {
    margin: 48px auto;
    padding: 8px;
    font-size: 15px;
    width: 156px;
  }
  .toolkit-icon {
    font-size: 40px
  }
}
