.code-wrapper {
  position: relative;
  .code {
    max-width: 960px;
    margin: 0 auto;
  }
}

.btn-more {
  margin: 72px auto;
  display: block;
  background: none;
  padding: 10px;
  border-radius: 50px;
  width: 180px;
  transition: 0.15s;
  text-align: center;
}

.btn-more i {
  margin-left: 10px;
}
.btn-more:focus {
  outline: none;
}

.btn-more:hover {
  transform: translateY(-1px);
}

.btn-more:active {
  transform: translateY(1px);
}


