.photography {
  padding: 40px 40px 4px 40px;
  h2 {
    margin-bottom: 72px;
  }
}

.flick-container-wrap {
  height: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

@media (max-width: $MD) {
  .photography {
    padding-right: 0px;
    padding-left: 0px;
  }
}
