* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background-color: rgb(252,250,249);
  font-family: 'Muli', sans-serif;
  height: 100%;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: 'Avenir Next';
  font-weight: normal;
}

h1 {
  font-size: 30px;
  line-height: 60px;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 0.5em;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

p {
  margin: 8px 0;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: rgba(154, 162, 239, 1.00);
}

.clicky-effect {
  transition: 0.15s transform;
  &:hover {
    transform: translate(0px, -2px);
  }
  &:active {
    transform: translate(0px, 1px);
  }
}

a:hover {
  color: #575ff7;
  text-decoration: none;
}


