* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Muli', sans-serif;
  height: 100%;
}


h1,
h2,
h3,
h4 {
  font-family: 'Avenir Next';
  font-weight: normal;
}

h1 {
  font-size: 30px;
  line-height: 60px;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 0.5em;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

p {
  margin: 8px 0;
  font-size: 16px;
}

a {
  text-decoration: none;
}

img {
  user-select: none;
}

.clicky-effect {
  display: inline-block;
  transition: 0.15s transform;
  &:hover {
    transform: translate(0px, -1px) !important;
  }
  &:active {
    transform: translate(0px, 1px) !important;
  }
}

a:hover {
  text-decoration: none;
}

.text-list li {
  margin-left: 40px;
}

@media (max-width: $LG) {
  p {
    font-size: 15px;
  }
}

@media (max-width: $MD) {
  h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 0.5em;
  }
}

@media (max-width: $SM) {
  h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0.5em;
  }
}
@media (max-width: $XS) {
  h2 {
    font-weight: bold;
    text-align: center;
    margin: 0.5em;
  }
  h3 {
    font-size: 26px;
  }
  p {
    font-size: 14px;
  }
}
