* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $almost-black;
}

html, body {
  background-color: rgb(252,250,249);
  font-family: 'Muli', sans-serif;
;
  height: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: 'Avenir Next';
  font-weight: normal;
}

h1 {
  font-size: 30px;
  line-height: 60px;
  text-align: center;
}

h2 {
  font-size: 20px;
  color: $lighter-black;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

p {
  margin: 8px 0;
}

a {
  text-decoration: none;
  color: rgb(135, 167, 226)
}

a:hover {
  color: #5c729c;
}


