// Colors
$almost-white: #FBFBFB;
$darker-white: #EBEBEB;

$grey175: rgb(175,175,175);
$grey150: rgb(150,150,150);
$grey125: rgb(125,125,125);
$grey100: rgb(100,100,100);
$grey75: rgb(75,75,75);

$almost-black: #0E0E0E;
$lighter-black: #1C1C1C;






// Breakpoints
$Desktops: 1199px; //900 to 1199px
$Tablets: 899px; //600 to 899px
$Phones: 599px; //0 to 599px
$XL: 1200px;
$LG: 992px;
$MD: 768px;
$SM: 576px;

// Font weights
// $fw-regular: 400;
// $fw-bold: 700;
