// Colors
$black: #000000;
$dark-grey: #333333;
$grey: #999999;
$light-grey: #CCCCCC;
$white: #FFFFFF;



// Breakpoints
$Desktops: 1199px; //900 to 1199px
$Tablets: 899px; //600 to 899px
$Phones: 599px; //0 to 599px

// Font weights
// $fw-regular: 400;
// $fw-bold: 700;
