.container {
  padding-right: 4em;
  padding-left: 4em;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1024px;
}

@media (min-width: $Desktops) {
  .container {
  }
}

@media (max-width: $Tablets) {
  .container {
    padding: 2.5em;
  }
}
@media (max-width: $Phones) {
  .container {
    padding: 1.5em;
  }
}
